In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('all.csv')
df.shape[0]

6840

In [3]:
df.columns

Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Attendance', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HHW',
       'AHW', 'HC', 'AC', 'HF', 'AF', 'HO', 'AO', 'HY', 'AY', 'HR', 'AR',
       'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31',
       'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35',
       'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39',
       'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43',
       'Unnamed: 44', 'Unnamed: 45', 'Unnamed: 46', 'Unnamed: 47',
       'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50', 'Unnamed: 51',
       'Unnamed: 52', 'Unnamed: 53', 'Unnamed: 54', 'Unnamed: 55',
       'Unnamed: 56', 'Unnamed: 57', 'Unnamed: 58', 'Unnamed: 59',
       'Unnamed: 60', 'Unnamed: 61', 'Unnamed: 62', 'Unnamed: 63',
       'Unnamed: 64', 'Unnamed: 65', 'Unnamed: 66', 'Unnamed: 67',
       'Unnamed: 68', 'Unnamed: 69', 'Unnamed: 70'],
      dtype='object')

In [4]:
df.drop(['HomeTeam', 'AwayTeam', 'Div', 'Date', 'HTHG', 'HTAG', 'HTR', 'Attendance', 'Referee', 'HHW', 'AHW',
           'HO', 'AO', 'HY', 'AY', 'HR', 'AR', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31','Unnamed: 32',
           'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39',
           'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43','Unnamed: 44', 'Unnamed: 45', 'Unnamed: 46', 
           'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50', 'Unnamed: 51', 'Unnamed: 52', 'Unnamed: 53', 
           'Unnamed: 54', 'Unnamed: 55', 'Unnamed: 56', 'Unnamed: 57', 'Unnamed: 58', 'Unnamed: 59', 'Unnamed: 60', 
           'Unnamed: 61', 'Unnamed: 62', 'Unnamed: 63', 'Unnamed: 64', 'Unnamed: 65', 'Unnamed: 66', 'Unnamed: 67',
           'Unnamed: 68', 'Unnamed: 69', 'Unnamed: 70'],1, inplace=True)
display(df.head())

   FTHG  FTAG FTR  HS  AS  HST  AST  HC  AC  HF  AF
0     4     0   H  17   8   14    4   6   6  13  12
1     4     2   H  17  12   10    5   7   7  19  14
2     1     3   A   6  16    3    9   8   4  15  21
3     2     2   D   6  13    4    6   5   8  11  13
4     2     0   H  17  12    8    6   6   4  21  20

In [5]:
def transformResult(row):
    '''Converts results (H,A or D) into numeric values'''
    if(row.FTR == 'H'):
        return 1
    elif(row.FTR == 'A'):
        return -1
    else:
        return 0

In [6]:
df["FTR"] = df.apply(lambda row: transformResult(row),axis=1)

In [7]:
X_all= df.drop(['FTR'],1)
y_all= df['FTR']

In [8]:
from sklearn.tree import DecisionTreeClassifier
from xgboost import XGBClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import LinearSVC
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import accuracy_score

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [9]:
clfDT = DecisionTreeClassifier()
clfXGB = XGBClassifier()
clfLR = LogisticRegression()
clfRFC = RandomForestClassifier()
clfKNN = KNeighborsClassifier()
clfSVC = LinearSVC()
clfGBC = GradientBoostingClassifier()

In [10]:
predDT = clfDT.fit(X_all,y_all).predict(X_all)
accuracy_score(predDT,y_all)

1.0

In [11]:
predXGB = clfXGB.fit(X_all,y_all).predict(X_all)
accuracy_score(predXGB,y_all)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

0.999561403508772

In [12]:
predLR = clfLR.fit(X_all,y_all).predict(X_all)
accuracy_score(predLR,y_all)

0.9998538011695907

In [13]:
predRFC = clfRFC.fit(X_all,y_all).predict(X_all)
accuracy_score(predRFC,y_all)

1.0

In [14]:
predKNN = clfKNN.fit(X_all,y_all).predict(X_all)
accuracy_score(predKNN,y_all)

0.8092105263157895

In [15]:
predSVC = clfSVC.fit(X_all,y_all).predict(X_all)
accuracy_score(predSVC,y_all)

0.9932748538011696

In [16]:
predGBC = clfGBC.fit(X_all,y_all).predict(X_all)
accuracy_score(predGBC,y_all)

1.0